<%= quick_options(*calendar_quick_options){ user_signed_in? ? ["New Class", new_event_path(:event_type => @event_type)]: nil} %>

<div id="calendar_list">
  <div class="row">
    <h1 class="page_title"><%= @event_type.titlecase %> List</h1>
  </div>

  <div class="row">
    <div class="content_block">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>adf</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% @events.each do |e| %>
          <tr>
            <td><%= link_to e.name, edit_event_path(e) %></td>
            <td><%#= %>adf</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        <% end %>

        </thead>
      </table>
    </div>
  </div><!-- row -->
</div>
