<div id="calendar_week" class="table-responsive">
  <%= week_calendar :events => @events, :thead => '', :table => {:id => 'calendar_week_table'} do |date, events| %>
    <h3><%#= date.to_formatted_s('%a') %></h3>
    <%= date.day %>
      <ul>
        <% events.each do |event| %>
          <li><%= event.name %></li>
        <% end %>
      </ul>
  <% end %>
</div>

<script>
    //append link to week view to header
    $('#calendar_week .calendar-header span').append('<%= j link_to 'Monthly Schedule', events_path(:calendar_view => 'month'), :class => 'calendar_view_selector pull-right' %>');
    //$('#calendar_week_table tbody tr td').wrap("tr");
    //$('.calendar-header').css('width', $('#calendar_month_table').width());
//    $('#calendar_week_table ').hide();
</script>