<!--<div class="container">-->
  <div id="banner-wrap">
    <div id="banner-top"></div>
    <div class="container">
      <div id="banner">

        <div style="clear:both;"></div>

      </div><!-- end banner -->
    </div><!-- end container -->
  </div><!-- end banner-wrap -->
  <style>
    table.wsite-multicol-table{
      /*text-align: center;*/
      /*padding-left: 200px;*/
    }
  </style>

  <div id="main-wrap">
    <div class="container">

      <div id='wsite-content' class='wsite-elements wsite-not-footer'>
        <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
          <table class='wsite-multicol-table'>
            <tbody class='wsite-multicol-tbody'>
            <tr class='wsite-multicol-tr'>
              <td class='wsite-multicol-col' style='width:35.110950268118%;padding:0 15px'>

                <div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                  <!--<a>-->
                    <!--<img src="/uploads/3/3/9/4/3394174/3375237_orig.jpg" alt="Picture" style="width:100%;max-width:600px" />-->
                    <%= image_tag 'temp/kevin_temp_home.jpg', :style => 'width:100%;max-width:600px' %>
                  <!--</a>-->
                  <div style="display:block;font-size:90%"></div>
                </div></div>

                <div class="paragraph" style="text-align:left;"></div>

              </td>
              <td class='wsite-multicol-col' style='width:59.221095328603%;padding:0 15px'>

                <div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
                  <%= link_to "https://www.facebook.com/pages/Sequim-Gym/414083728647866", :target => '_blank' do %>
                    <%= image_tag 'temp/fb_temp.png', :style => 'width:150px;' %>
                    Check us out on Facebook!
                  <% end %>
                  <!--<a class="wsite-but ton wsite-button-small wsite-button-normal" href= target="_blank">-->
                    <!--<span class="wsite-button-inner">click here for facebook page</span>-->
                  <!--</a>-->
                  <div style="height: 10px; overflow: hidden;"></div></div>

                <div class="paragraph" style="text-align:center;"><font color="#8d5024"><strong style="">NEW WEBSITE&nbsp; UNDER CONSTRUCTION!!! &nbsp;Please click the above Facebook link for current information on classes and more.</strong></font><br /><span></span><br /><font color="#626262"><span style="color:#626262;">Sequim
 Gym has been sold to Kevin Pedrey. Kevin is making exciting changes,
including updating the facility, adding new equipment and classes to the
 schedule! Kevin is building his new website. Until then, please click
on&nbsp;the above&nbsp;Facebook page&nbsp; link for the latest information.</span> <br /><span><br /><span></span></span>Kristin, the former owner,&nbsp;is&nbsp;pursuing a nursing career.&nbsp;&nbsp;She will still teach a couple classes and train a few clients. <br /></font><br /><span></span><font color="#8d5024">Kristin wishes to thank you for 9 years of fun and fitness!</font><br /><br /><span></span><br /><br /><span></span><br /><span></span></div>

              </td>
              <td class='wsite-multicol-col' style='width:5.6679544032793%;padding:0 15px'></td>
            </tr>
            </tbody>
          </table>
        </div></div></div>

        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
              <table class='wsite-multicol-table'>
                <tbody class='wsite-multicol-tbody'>
                <tr class='wsite-multicol-tr'>
                  <td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

                    <div class="paragraph" style="text-align:left;"><strong><font color="#24678d">24/7 key card access<br />Customer Service Hours<br />M-TH 9-5:30<br />F 9-3<br />S 9-12</font></strong></div>

                  </td>
                  <td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

                    <div class="paragraph" style="text-align:left;"><font color="#24678d"><strong>Contact us at 360-681-2555<br /><br />sequimgym@yahoo.com<br />Mailing address:<br />PO Box 2506&nbsp;<br />Sequim, WA 98382</strong></font><br /><br /></div>

                  </td>
                  <td class='wsite-multicol-col' style='width:33.333333333333%;padding:0 15px'>

                    <div class="paragraph" style="text-align:left;"><strong><font color="#24678d">Find us at:<br />145 East Washington&nbsp;<br />Sequim, WA 98382</font></strong></div>

                  </td>
                </tr>
                </tbody>
              </table>
            </div></div></div>

          </div>
          <div class="col-xs-2"></div>
        </div>

        <div class="paragraph" style="text-align:left;"><font color="#8d2424"><font color="#8d5024"><strong>Sequim Gym&nbsp;is a fitness center that reflects the&nbsp;<em>QUALITY&nbsp;</em>&nbsp;of life&nbsp;people enjoy in beautiful Sequim, Washington. We love this community, and we strive to meet its unique fitness needs.&nbsp;<strong>Sequim Gym is&nbsp;a fitness center&nbsp;where you feel welcome each time you come in the door, whether it is the first time or the 1000th time, whether you're a senior retiree, a student, a serious athlete, or someone who has never been in a gym before. We have the trainers, classes, facility, and programs to make each visit rewarding and enjoyable. Sequim Gym is locally owned by a highly qualified and certified trainer,</strong><br /> <br /> <strong>With its exposed wood beam high ceilings, AIR CONDITIONING and natural lighting, Sequim Gym is an inviting place to exercise. Many people of all ages and abilities enjoy working out here every day. Others condition here for the variety of outdoor sports and activities on the Olympic Peninsula.&nbsp;Try a Zumba &reg;, yoga, Pilates, circuit, indoor cycling, senior fitness or any other class.&nbsp;With prior approval, you can try most of our classes for FREE! The</strong>&nbsp;<strong><em>QUALITY</em></strong>&nbsp;<strong>and qualifications of our trainers and instructors will give you the assurance you need that your classes will be safe and effective.&nbsp;</strong><br /> <br /> <strong>Our workout rooms are spacious and filled with the finest</strong>&nbsp;<strong><em>QUALITY&nbsp;</em></strong>&nbsp;<strong>free weights, cardio and weight equipment you will find outside of the &ldquo;big cities&rdquo;.&nbsp; No other gym on the peninsula beats the <em>QUALITY </em>of Sequim Gym's&nbsp;equipment. Our &ldquo;hometown&rdquo; service is also unmatched. Our customer service staff and instructors are very friendly and want to see you succeed in your fitness goals and enjoy your time at our gym. And now you can access the gym 24/7! Our membership prices are flexible and affordable. &nbsp;Come try us out! Experience the difference for yourself.</strong><br /> <br /> </strong><strong><font size="5">Conveniently located in downtown Sequim, with plenty of parking.</font></strong></font></font><br /><span></span><br /><span></span><br /><span></span></div>

        <div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;" src="http://www.dragndropbuilder.com/editor/apps/generateMap.php?map=google&elementid=333157158365200366&ineditor=0&control=3&width=auto&height=250px&overviewmap=0&scalecontrol=0&typecontrol=0&zoom=14&long=-123.1009956&lat=48.0796292&domain=www.dragndropbuilder.com&point=1&align=3"></iframe></div></div>

    </div><!-- end container -->

  </div><!-- end main-wrap -->

  <div id="main-wrap-bottom">
    <div class="container">
      <p class="left-image"></p>
      <p class="right-image"></p>
    </div><!-- end container -->

  </div><!-- end main-wrap bottom -->

  <div id="footer-wrap">

    <div id="footer-wrap-inner"></div>

    <div class="container">
      <div class='wsite-elements wsite-footer'>
        <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
          <table class='wsite-multicol-table'>
            <tbody class='wsite-multicol-tbody'>
            <tr class='wsite-multicol-tr'>
              <td class='wsite-multicol-col' style='width:50%;padding:0 15px'></td>
              <td class='wsite-multicol-col' style='width:50%;padding:0 15px'></td>
            </tr>
            </tbody>
          </table>
        </div></div></div>

        <div class="paragraph"><a href='http://www.anysoft.us/' target='_blank'>Web Hosting</a> by Anysoft</div></div>

      <script type='text/javascript'>
        <!--

        if (document.cookie.match(/(^|;)\s*is_mobile=1/)) {
          var windowHref = window.location.href || '';
          if (windowHref.indexOf('?') > -1) {
            windowHref += '&';
          } else {
            windowHref += '?';
          }
          document.write(
              "&nbsp;&nbsp;&nbsp;&nbsp;" +
                  "<a class='wsite-view-link-mobile' href='" + windowHref + "view=mobile'>Mobile Site</a>"
          );
        }

        //-->
      </script>

    </div><!-- end container -->

  </div><!-- end footer-wrap -->

<!--</div>-->