<div id="features_bar">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-4"></div>&lt;!&ndash; col &ndash;&gt;-->


      <div class="col-sm-4 text-center">
        <%= image_tag 'icons/features/membership.png' %>
        <h4>Become a Member
          <small>
            don't be a buster. Members get 10 times the awesomness. Recognize.

          </small>
        </h4>
      </div><!-- col -->


      <div class="col-sm-4 text-center">
        <%= image_tag 'icons/features/membership.png' %>
        <h4>Become a Member
          <small>
            don't be a buster. Members get 10 times the awesomness. Recognize.
          </small>
        </h4>
      </div><!-- col -->


      <div class="col-sm-4 text-center">
        <%= image_tag 'icons/features/membership.png' %>
        <h4>Become a Member
          <small>
            don't be a buster. Members get 10 times the awesomness. Recognize.
          </small>
        </h4>
      </div><!-- col -->
      <!--<div class="col-sm-4"></div>&lt;!&ndash; col &ndash;&gt;-->
    </div><!-- row -->
  </div>
</div>