<div id="features_bar">
  <ul>
    <li>
      <%= link_to events_path do %>
        <%= image_tag 'icons/fitness/calendar_icon.png' %>
        <div>Classes</div>
      <% end %>
    </li>
    <li class="icon">
      <%= image_tag 'icons/fitness/icon_calendar.png' %>
      <div>adfadaf</div>
    </li>
    <li class="icon">
      <%= image_tag 'icons/fitness/icon_calendar.png' %>
      <div>cxrayy</div>
    </li>
  </ul>
</div>

<script>
  setupFeaturesBar();

  imageChangeOnLinkHover('#features_bar li a');
</script>
