<!--<div id="features_bar">-->
  <!--<ul>-->
    <!--<% FeaturesHelper::FEATURES.each do |f| %>-->
      <!--<li>-->
        <!--<%#= image_tag "features/#{f}.jpg" %>-->
        <!--<%= image_tag "features/#{f}.jpg", 'data-0' => 'transform[bounce]:rotate(0deg);', 'data-300' => 'transform[bounce]:rotate(360deg);' %>-->
      <!--</li>-->

    <!--<% end %>-->
  <!--</ul>-->
<!--</div>-->