<div class="social_networking_likes">
  <div class="like_on_fb">
    <%= like_on_facebook_button(request.url) %>
  </div>

  <div class="tweet">
    <%= tweet_button(tweet, SOCIAL_NETWORKING[:twitter][:fanpage]) %>
  </div>
</div>
