<div id="social_networking_bar">
  <div class="follow_button">
    <%= follow_on_facebook_button(SOCIAL_NETWORKING[:facebook][:fanpage], :layout => 'button_count') %>
  </div>

  <div class="follow_button">
    <div class="follow_on_twitter_button">
      <%= follow_on_twitter_button(SOCIAL_NETWORKING[:twitter][:fanpage], :include_script => true) %>
    </div>
  </div>
</div>
