<div class="container">

  <div id="social_networking_bar" class="row">
    <div class="col-xs-12">
      <div class="follow_button">
        <%= follow_on_facebook_button(SOCIAL_NETWORKING[:facebook][:fanpage], :layout => 'button_count') %>
      </div>

      <div class="follow_button">
        <div class="follow_on_twitter_button">
          <%= follow_on_twitter_button(SOCIAL_NETWORKING[:twitter][:fanpage], :include_script => true) %>
        </div>
      </div>

    </div>
  </div>
</div>

