<% head_info('Super Gym News Stories', 'News stories from Super Gym', image_url('icons/features/fitness2.png'),
             'article', 'anysoft.us', news_stories_url, :facebook_app_id => gym.contact_info.social_networking_profile.facebook_app_id) %>

<%= render partial: 'parts/home_banner' %>
<%= render partial: 'parts/features_bar' %>

<div class="container">
  <div class="row">

      <%= render :partial => 'stories' %>


    <div class="col-md-3 side_bar">
      <%= render :partial => 'events/upcoming_class_list' %>
    </div>
  </div><!-- row -->
</div>

