<style>

</style>

<%= render partial: 'parts/home_banner' %>
<%= render partial: 'parts/features_bar' %>


<div class="container">


  <div class="row">
    <div id="news_stories" class="content_block col-sm-9">
      <%= render :partial => 'stories' %>
    </div><!-- col -->


    <div class="col-sm-3">
      <%= render :partial => 'events/upcoming_class_list' %>
    </div>
  </div><!-- row -->
</div>

