<%= render partial: 'parts/home_banner' %>
<%= render partial: 'parts/features_bar' %>

<div class="container">
  <div class="row">

      <%= render :partial => 'stories' %>


    <div class="col-md-3 side_bar">
      <%= render :partial => 'events/upcoming_class_list' %>
    </div>
  </div><!-- row -->
</div>

