

<div id="user_bio">

  <%#= image_tag(user_record.avatar.url(:show_circle), :class => 'pull-right avatar', :style => 'padding-right: 10px;') if user_record.avatar? %>

    <div class="page_subtitle">
      <%= link_to "#{user_record.first_name} #{user_record.last_name}", user_path(user_record) %>

      <%= security_gate('edit_link', 'view') do %>
        <%= link_to '(edit)', edit_user_path(user_record), :class => 'edit_link' %>
      <% end %>
    </div>

  <!--<div class="skills">-->
    <!--<%#= render :partial => 'users/skills_list', :locals => {:user => user_record} %>-->
  <!--</div>-->


  <%= user_record.bio.html_safe if user_record.bio %>

  <!--<div class="clearfix"></div>-->

</div>
