<div class="container">
  <%= security_gate('quick_options', 'view') do %>
    <%= quick_options(['Create User', new_user_path]) %>

  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="page_title">Our Team</div>
    </div><!-- col -->
  </div><!-- row -->

  <div id="users" class="page_content">
    <% @users.in_groups_of(2) do |grp|  %>


      <div class="row user_row">
        <% grp.each do |user| %>
          <% if user #since user is in groups, an odd number will create an empty second half of the last group. Raises errors %>
            <div class="col-md-6">
              <div class="user content_block">
                <%= user_bio(user) %>
              </div>
            </div><!-- col -->
          <% end %>
        <% end %>
      </div><!-- row -->
    <% end %>
  </div><!-- news_stories -->
</div>

<script>
  //normalize_user_cols();

  function normalize_user_cols(){
    $('.user_row').each(function(i, row){
      //There are two columns. Probably start to abstract this before you finish this comment
      var cols = $(row).find('user');
      var tallest_col = cols[0].height() > cols[1].height() ? cols[0].height() : cols[1].height();
      $(tallest_col).css('min-height', tallest_col.height());
    })
  }

</script>