$calendar_dark: #363636;
$calendar_medium_dark: lighten($calendar_dark, 10%);
$calendar_medium: #b2b2b2;
$calendar_light: #dddddd;
$calendar_very_light: #f0f0f0;

$calendar_today: rgba(108, 177, 255, 0.42);

$background_color: white;

$gym_primary: #016965;
$gym_secondary: #850d15;
$gym_accent: #634f34;
$gym_bright_accent: #b5a900;

$shadow_dropdown: 1px 1px 5px $calendar_dark;
$shadow_still: 1px 1px 1px 2px $calendar_dark;
$shadow_selected: 6px 6px 10px $calendar_dark;
$text_shadow_accent: 2px 2px $gym_secondary;
$footer_shadow: 2px -2px 8px;

$content_background_color: white;




//.fancy_quote{
//  color: $calendar_medium;
//  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
//  letter-spacing:0.1em;
//  text-align:center;
//  //  margin: 40px auto;
//  text-transform: lowercase;
//  line-height: 145%;
//  font-size: 14pt;
//  font-variant: small-caps;
//}
//.fancy_quote:first-letter{
//  text-transform: uppercase;
//}
//
//.subheadline{
//  font-family: "Lucida Grande", Tahoma;
//  font-size: 10px;
//  //  font-weight: lighter;
//  font-variant: normal;
//  text-transform: uppercase;
//  color: $calendar_dark;
//  margin-top: 10px;
//  letter-spacing: 0.3em;
//}
//

//
//.page_subtitle{
//  @extend .page_title;
//  @include main_link;
//  font-weight: 400;
//  font-size: 36px;
//  text-shadow: 0px 0px;
//}
//
