//@import 'modules/variables';

#calendar_month {
  table{
    tbody{
      box-shadow: $shadow_still;

    }
  }


  td.next-month{
    background-color: $calendar_medium;
  }
  td.prev-month{
    background-color: $calendar_medium;
  }
  td.day:hover{
//    background-color: $calendar_light;
    box-shadow: $shadow_selected;
  }
  td.day {
    height: 120px;
    //width: 100px;
    border-right: 1px solid $calendar_light;
    border-top: 1px solid $calendar_light;
    border-bottom: 1px solid $calendar_light;
    border-left: 1px solid $calendar_light;
    vertical-align: top;
    background-color: white;

    .date_on_calendar {
      color: $calendar_dark;
      font-weight: 600;
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      font-size: 20px;

    }
  }
  ul.events_on_calendar {
    padding-left: 0;
    list-style: none;

    li {
      padding: 3px;
      font-size: 10px;
      //border: 1px solid black;
      margin-top: 5px;
      a:link{
        color: $calendar_dark;
        //background-color: $calendar_dark;
        text-decoration: none;
      }
      a:visited{
        color: $calendar_dark;
      }
      a:hover{
        color: $calendar_medium;
      }
    }

  }
}

.calendar_view_selector{
  float: right;

  //position: relative;
  //bottom: -18px;
}

.calendar-header {
  //padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 30px;

  /*these are the controls next to the month*/
  a{
    color: $calendar_dark;
    //font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  a:hover{
    text-decoration:none;
    color: $calendar_medium !important;
    background-color: transparent;
  }

}
//-------------------end Calendar Month -----------------------------------



#calendar_week{
//  margin-bottom: 30px;

  div.day_row:hover{


  }
  div.day_row{
    border-bottom: 1px solid $calendar_dark;
  }
  ul.calendar_week_events{
    list-style: none;
    margin-left: -20px;
    .event_times{
      font-size: 12px;
      font-color: $calendar_dark;
      font-weight: 600;
    }
  }

  div.week_calendar_content{
    padding: 3px;
  }
}

#calendar_day{
  padding: 5px;
  box-shadow: $shadow_still;
  background-color: $calendar_light;

  div.calendar_day_event{
    margin-left: 20px;
    min-height: 20px;
  }

  .calendar_day_time_slot{
    //border-top: 1px solid $calendar_light;
    border-bottom: 1px solid $calendar_medium;
    min-height: 20px;
  }
    div.calendar_day_time_slot.has_event{
    background-color: $calendar_dark;
    color: $calendar_light;
  }

}

.selected_option{
  background-color: $calendar_light;
  box-shadow: 3px 3px 10px $calendar_dark;
}

.today{
  background-color: $calendar_today !important;
}

//----------------------------end Calendar Day------------------------------------

//----------------------------Calendar List---------------------------------------
