body{
  background-color: $calendar_very_light;
//  background-image: url(image_path('backgrounds/gym_still_2.jpg'));
}


#page_content{
  //the whole page
//  margin-top: 15px;

  .container{
//    background-color: $calendar_very_light;

  }
}

h1{
  @include main_link;
  @include page_title;
}

h2{
  @include secondary_title;
}

h3{
  @include main_link;
  @include headline(32px, $calendar_dark);
}

h4{

}



img.main_image{
  width: 100%;
  margin-top: 15px;
}
img.story_image{
  margin: 5px;
}


.first_details{
  margin-top: -10px;
  margin-bottom: 10px;
}

.well{
  background-color: $calendar_medium;
  margin-left: 0px;
  margin-right: 0px;
}


.edit_link:link{
  color: $gym_primary;
  font-size: 18px;
  //  float: right;

}
.edit_link:visited{
  color: $gym_primary;
}
.edit_link:hover{
  color: $gym_secondary;
}
.attribute_list{
  list-style: none;

  li{

    border-bottom: 1px solid $calendar_medium;
  }

}