body{
  background-color: $calendar_very_light;
  //  background-image: url(image_path("backgrounds/gym_still_2.jpg"));
}

.page_content{
  //the whole page
  margin-top: 15px;
}

h1{
  @include main_link;
  @include page_title;
}

h2{
  @include secondary_title;
}

h3{
  @include main_link;
  @include headline(32px, $calendar_dark);
}

.banner_image{
  img{
    height: 500px;
    width: 100%;
    position: fixed;
//    top: -26px;
  }
}



img.main_image{
  width: 100%;
  margin-top: 15px;
}
img.story_image{
  margin: 5px;
}


.first_details{
  margin-top: -10px;
  margin-bottom: 10px;
}

.well{
  background-color: $calendar_medium;
  margin-left: 0px;
  margin-right: 0px;
}

.content_block{
  box-shadow: $shadow_still;
  background-color: $content_background_color;
  padding: 10px;
  margin-bottom: 20px;
}
.form_block{
  @extend .content_block;
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}
.text_block{
  font-size: 18px;
  color: $calendar_dark;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  //  border-top: 1px solid $calendar_dark;
  //  border-bottom: 1px solid $calendar_dark;
}

.edit_link:link{
  color: $gym_primary;
  font-size: 18px;
  //  float: right;

}
.edit_link:visited{
  color: $gym_primary;
}
.edit_link:hover{
  color: $gym_secondary;
}
.attribute_list{
  list-style: none;

  li{

    border-bottom: 1px solid $calendar_medium;
  }

}