/*---------------------------------------------------------------------------------
* #home_banner
* #the_flash
* #top_nav
* #footer
* Social Networking
 - .social_network_follow_button
 - #social_networking_bar
 - .facebook_comments
 - .social_networking_likes
* #features_bar
---------------------------------------------------------------------------------*/
#home_banner{
//  margin-bottom: 10px;
  position: relative;
//  border-bottom: 2px solid $calendar_medium;

//  .banner_image{
//    height: 200px;
//    margin-bottom: 5px;
//    max-width: 19.5%;
//  }
  .intro_banner_backdrop{
    position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .intro_banner{
//    padding-top: 100px;
    min-height: 600px;
    background-color: $nav_color;
    position: relative;

    h1{
      @extend .hv_center;
      color: white;
      font-size: 100px;
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      margin-right: -50%;
//      transform: translate(-50%, -50%);
    }
  }
} // end home_banner

#the_flash {

  .alert{
    margin-bottom: 0px;
  }
}

#top_nav{
  a{
//    color: $calendar_dark;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2em;
    text-align: center;
    border-bottom: 1px solid transparent;
  }

  a:hover{
    color: $gym_secondary;
    border-bottom: 1px solid $gym_secondary;
  }

  ul.dropdown-menu{
//    box-shadow: $shadow_dropdown;
    background-color: $nav_color;

    li{
//      vertical-align: middle;
    }
    li:hover{
      background-color: transparent;
    }
    a{
      color: white;
    }
    a:hover{
      color: $gym_secondary;
      background-color: transparent;
    }
  }
}

#footer{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(192, 192, 192, 0.85);

  margin-top: 50px;
//  box-shadow: $footer_shadow;

  img.social_icon{
    width: 50px;
    height: 50px;

  }

  .footer_col{
  }
  .footer_center_col{
    border-left: 2px solid $calendar_light;
    border-right: 2px solid $calendar_light;
  }

  address{
    a:link{
      color: $calendar-dark;
    }
    a:visited{
      color: $calendar_dark;
    }
  }
}

.social_network_follow_button{
  padding-top: 3px;

}

#social_networking_bar{
  height: 26px;
  //  background-color: $gym_xsecondary;
  padding-top: 3px;

  .follow_button{
    float: right;
    padding-left: 15px;
  }

  .follow_on_twitter_button{
    padding-top: 1px;
  }
}
.facebook_comments{
  margin-top: 20px;
}

.social_networking_likes{
  padding-top: 20px;
  padding-right: 20px;

  .tweet{
    margin-top: 8px;
  }
}

#features_bar{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $calendar_dark;
  min-height: 200px;

  img{
    height: 100px;
  }

  h4{
    color: white;

    small{
      color: $calendar_medium;
    }
  }
} // end features_bar