/*---------------------------------------------------------------------------------
* #home_banner
* #features_bar
* #the_flash
* #top_nav
* #footer
* Social Networking
 - .social_network_follow_button
 - #social_networking_bar
 - .facebook_comments
 - .social_networking_likes
---------------------------------------------------------------------------------*/
#home_banner{
  position: relative;

  .intro_banner_backdrop{
    position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .intro_banner{
    min-height: 600px;
    background-color: $nav_color;
    position: relative;

    h1{
      padding-left: 100px;

      @extend .hv_center;
      color: white;
      font-size: 100px;
    }
  }
} // end home_banner

#features_bar{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $gym_secondary;
  min-height: 200px;

  img{
    height: 100px;
  }
  h3{
    color: $calendar_medium;
    letter-spacing: .15em;
  }

  h4{
    color: white;

    small{
      color: $calendar_medium;
    }
  }

  .feature_link:visited{
    text-decoration: none;

  }

  .feature_link:hover{
    text-decoration: none;
    h3{
      color: $calendar_dark;
    }
  }
} // end features_bar

#the_flash {

  .alert{
    margin-bottom: 0px;
  }
}

#top_nav{
  a{
//    color: $calendar_dark;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2em;
    text-align: center;
    border-bottom: 1px solid transparent;
  }

  a:hover{
    color: $gym_secondary;
    border-bottom: 1px solid $gym_secondary;
  }

  ul.dropdown-menu{
//    box-shadow: $shadow_dropdown;
    background-color: $nav_color;

    li{
//      vertical-align: middle;
    }
    li:hover{
      background-color: transparent;
    }
    a{
      text-align: left;

      color: white;
    }
    a:hover{
      color: $gym_secondary;
      background-color: transparent;
    }
  }

  .navbar-brand{
    @include page_title;
    font-size: 30px;
    color: $calendar_light;
    letter-spacing: .35em;
  }
}

#footer{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(192, 192, 192, 0.85);
  margin-top: 50px;

  img.social_icon{
    width: 50px;
    height: 50px;

  }

  .footer_col{
    position: relative;
//    display: table-cell;

    .bottom_right{

//      vertical-align: bottom;
//      float: right;
      position: absolute;
//      bottom: 100 !important;
      right: 0;
      top: 200px;
//      position: absolute;
//      top: 180px;
//      right: 0;
    }

   }

  .footer_center_col{
    border-left: 2px solid $calendar_light;
    border-right: 2px solid $calendar_light;
  }

  address{
    a:link{
      color: $calendar-dark;
    }
    a:visited{
      color: $calendar_dark;
    }
  }
}

.social_network_follow_button{
  padding-top: 3px;

}

#social_networking_bar{
  height: 26px;
  //  background-color: $gym_xsecondary;
  padding-top: 3px;

  .follow_button{
    float: right;
    padding-left: 15px;
  }

  .follow_on_twitter_button{
    padding-top: 1px;
  }
}
.facebook_comments{
  margin-top: 20px;
}

.social_networking_likes{
  padding-top: 20px;
  padding-right: 20px;

  .tweet{
    margin-top: 8px;
  }
}
