
/*
 *= require_self
 *= require bootstrap-datetimepicker.min
 = require_tree .
 */
@import 'calendar';
@import 'events';
@import 'users';
@import 'news_stories';
@import 'bootsy';
@import 'bootstrap_customizations';
@import 'bootstrap';



body{
  background-color: $calendar_very_light;

//  background-image: url(image_path("home_images/gym_still_2.jpg"));

}

h1{
  a:hover{
    background-color: trasparent;
  }
}
.well{
  background-color: $calendar_medium;
  margin-left: 0px;
  margin-right: 0px;

}

.form_button_row{
  padding-left: 14px;
}



.content_block{
  box-shadow: $shadow_still;
  background-color: $content_background_color;
  padding: 20px;
  margin-top: 10px;
}

.staff_edit_link{
  color: blue;
  font-size: 24px;
  float: right;
}
.staff_edit_link:hover{
  background-color: transparent;
  color: $calendar_medium;
}
.staff_edit_link:visited{
  color: blue;
}

#footer{
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(192, 192, 192, 0.85);

  margin-top: 50px;
  box-shadow: $footer_shadow;

  img.social_icon{
    width: 50px;
    height: 50px;

  }

  .footer_col{
  }
  .footer_center_col{
    border-left: 2px solid $calendar_light;
    border-right: 2px solid $calendar_light;
  }

  address{
    a:link{
      color: $calendar-dark;
    }
    a:visited{
      color: $calendar_dark;
    }
  }
}
//----------------End Footer-----------------------------------
#the_flash {

  .alert{
    margin-bottom: 0px;
  }
}

#top_nav{

  .navbar-brand{
    letter-spacing: .25em;
    font-size: 18px;
  }

  a{
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2em;
  }

  a:hover{
    color: $calendar_medium;
  }

  ul.dropdown-menu{
    box-shadow: $shadow_still;
    border-raduis: 5px;
    background-color: $calendar_light;

    a{
      color: $calendar_dark;

    }
  }
}




#home_header{
  height: 240px;
//  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -20px;

  background-image: url(image_path('home_images/gym_still_1.png'));

  h1{
    text-align: left;
    font-size: 98px;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 60px;
    }
  h1.smaller{
    font-size: 48px;

  }
  h1.medium{
    font-size: 64px;
  }

  h3{
    padding-left: 55px;
  }

}

//my styles
.news_headline{
  font-size: 28px;
//  line-height: 30px;
  font-family: times, Times New Roman, times-roman, georgia, serif;

  letter-spacing: -2px;
  font-weight: bold;
  color: $calendar_dark;

}

.fancy_quote{
  color: $calendar_medium;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 14pt;
  font-variant: small-caps;
}
.fancy_quote:first-letter{
  text-transform: uppercase;
}

.subheadline{
  font-family: "Lucida Grande", Tahoma;
  font-size: 10px;
//  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: $calendar_dark;
  margin-top: 10px;
  letter-spacing: 0.3em;
}

.secondary_headline{
  line-height: 34px;
  font-size: 34px;
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px $calendar_medium;
}

.page_title{

}










