//todo get all of my variables in on file
//
//$calendar_dark: #363636;
//$calendar_medium: #c0c0c0;
//$calendar_light: #dddddd;


/*
 *= require_self
 = require_tree .
 */
@import 'variables';
@import 'calendar';
@import 'events';
@import 'users';
@import 'bootstrap';


#the_flash {

}
.alert{
  margin-bottom: 0px;
}

#top_nav{
//  margin-bottom: 10px;
}


.quick_options{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  li{
    list-style: none;
    text-align: right;
    border-right: 2px solid $calendar_medium;
    margin-bottom: 3px;
    padding-right: 5px;

//    border-righ
  }

  a{
    color: $calendar_dark;
  }
  a:link{
    text-decoration: none;
  }

}




