@import 'variables';


#upcoming_class_list{
  margin-top: 20px;
  text-align: left;

  .class_list_header{
    @extend .secondary_headline;
  }

  .class_block{
    padding-bottom: 10px;
    line-height: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid $calendar_dark;

    .class_date{
      margin-bottom: 10px;

      span{
        box-shadow: 2px 2px $gym_primary;

        padding-left: 5px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 3px;
        text-align: center;
        border-radius: 7px;
//        background-color: $calendar_dark;
        background-color: $gym_secondary;
        font-size: 20px;
        color: white;

        .smaller{
          font-size: 14px;
          box-shadow: none !important;
        }
      }
    }

    .class_name{
      font-family: times, Times New Roman, times-roman, georgia, serif;
      letter-spacing: -1px;
      font-size: 16px;
      padding-left: 10px;
      padding-top: 10px;
      margin-bottom: 5px;
      border-bottom: 1px solid $calendar_medium;
      line-height: 16px;
//      text-indent: -10px;

      a{
        color: $calendar_dark;
        font-weight: 600;
//        margin-left: 10px;
      }

      a:hover{
        background-color: transparent;
      }
    }
  }
}

