@import 'variables';

ul#news_list{

  li{
    list-style: none;
    margin-left: -30px;
    color: $calendar_dark;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 2px solid $background_color;
    border-bottom: 1px solid $calendar_medium;

    a{
      @extend .news_headline;

    }

    a:hover{
      background-color: $background_color;
      color: $calendar_dark;
      text-decoration: none;
    }
    a.edit_link{
      color: blue;
      font-size: 20px;
    }
    a.edit_link:hover{
      text-decoration: underline;
    }


    p{
      margin-left: 10px;
    }
  }
}

#news_list_header{
  border-bottom: 2px solid $calendar_dark;

  h1{
    @extend .news_headline;
    font-size: 82px;
    font-weight: 600px;
//    text-align: left;
    padding-bottom: 5px;
    padding-left: 20px;

  }
}

#features_bar{
  margin-top: 10px;
//  margin-bottom: 30px;
//  height:100px;
  background-color: $calendar_light;
  border: 2px solid $calendar_medium;
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  text-align: center;
//  padding-left: -20px;

  li{
    margin-left: -30px;

    div{
      margin-top: 5px;
      margin-bottom: 25px;
      font-size: 24px;
    }
//    display: inline;
//    margin-left: -20px;
//    margin-bottom: 20px;

    img{
      width: 150px;
      height: 150px;
    }
  }

}