@import 'variables';

#social_networking_bar{
  height: 26px;
  background-color: $gym_main_color;
  padding-top: 3px;

  .follow_button{
    float: right;
    padding-left: 15px;
  }

  .follow_on_twitter_button{
    padding-top: 1px;
  }
}
.facebook_comments{
  margin-top: 20px;
}