@import 'variables';

#social_networking_bar{
  height: 26px;
  background-color: $gym_secondary;
  padding-top: 3px;

  .follow_button{
    float: right;
    padding-left: 15px;
  }

  .follow_on_twitter_button{
    padding-top: 1px;
  }
}
.facebook_comments{
  margin-top: 20px;
}

.social_networking_likes{
  padding-top: 20px;
  padding-right: 20px;

  .tweet{
    margin-top: 8px;
  }
}