@import 'variables';

.user_bio{
  @include main_link;
}

#users{
  .user{
//    border: 1px solid $calendar_dark;

  }
}

#user_list{
//  margin-top: 10px;

  .user_row{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid $calendar_medium;
    .btn-danger{
      color: white;
    }
    .name_col{
      a:link{
        background-color: transparent;
      }
    }
    .email_col{
      a:hover{
        background-color: transparent;
        color: $calendar_medium;
      }
    }

  }


  .name_col{
    color: $calendar_dark;
    font-weight: 600;

    a:link{
      color: $calendar_dark;
      text-decoration: none;
    }
    a:visited{
      color: $calendar_dark;
    }
  }
}