//<% STYLES.each do |k, v| %>
//  <%= "$#{k.to_s}: #{v};" %>
//<% end %>

$calendar_dark: #363636;
$calendar_medium_dark: lighten($calendar_dark, 10%);
$calendar_medium: #b2b2b2;
$calendar_light: #dddddd;
$calendar_very_light: #f0f0f0;

$calendar_today: rgba(108, 177, 255, 0.42);

$background_color: white;

$gym_main_color: #700000;
$gym_main_light_accent: lighten($gym_main_color, 50%);
//
//: rgb(243, 144, 140);

$shadow_still: 3px 3px 10px 5px $calendar_dark;
$shadow_selected: 6px 6px 10px $calendar_dark;
$text_shadow_accent: 2px 2px $calendar_medium;
$footer_shadow: 2px -2px 8px;

$content_background_color: rgba(255, 255, 255, 0.75);

$staff_link_color: blue;
$staff_link_size: 24px;


////$gym_main_color_shadow_color: ;
@mixin main_link{
  a{
    color: $calendar_dark;
  }
  a:hover{
    color: $calendar_medium;
    text-decoration: none;
    text-shadow: 0px 0px;
  }
}

@mixin news_headline($font_size, $font_color){
  @include main_link;
  font-size: $font-size;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  letter-spacing: -2px;
  font-weight: bold;
  color: $font_color;
}