<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'parts/header' %>
</head>

<body>

<%#= render :partial => 'parts/top_nav' %>
<%#= render :partial => 'parts/social_networking_bar' %>
<%#= render :partial => 'parts/the_flash' %>

<div id="page_content">
  <%= yield %>
</div>

<%= render :partial => 'parts/footer' %>

</body>
</html>
